@{
    ViewBag.Title = "About";
}
<h2>About Coding Trainer</h2>

<div class="row">
    <div class="col-sm-7">
        <h4>Version</h4>
        <p>Coding Trainer version 0.9 - &copy; 2017-@DateTime.Now.Year</p>
        <p>This website is still in development</p>
        <p>Preferred web browser is Google Chrome, version 71 or later. The website should work with modern versions of other browsers but this can not be guaranteed</p>

        <h4>Credits</h4>
        <p>Built using <a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/mvc/mvc5">Microsoft ASP.NET MVC 5</a></p>
        <p>User code processed and compiled by <a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/">Roslyn</a>, the .NET Compiler Platform SDK</p>
        <p>Communication with <a target="_blank" href="https://www.asp.net/signalr">SignalR</a></p>
        <p>
            <a target="_blank" href="https://codemirror.net">CodeMirror</a> by Marijn Haverbeke,
            <a target="_blank" href="https://github.com/samdark/codemirror-buttons">CodeMirror Buttons</a> by Alexander Makarov
        </p>
    </div>

    <div class="col-sm-5">
        <h4>Legal</h4>
        <p>
            The coding trainer software (but <strong>not</strong> the training material used on the site) is
            open source, made available under an
            <a target="_blank" href="https://raw.githubusercontent.com/ddashwood/CodingTrainer/master/LICENSE.md">Apache licence</a>.
            The source code can be found on <a target="_blank" href="https://github.com/ddashwood/CodingTrainer">GitHub</a>.
        </p>
        <p>
            Please read our @Html.ActionLink("Terms and Conditions", "TermsAndConditions") and
            @Html.ActionLink("Privacy Policy", "PrivacyPolicy")
        </p>

        <h4>Contact</h4>
        <p>Written by <a href="mailto:dean.dashwood@northumbria.ac.uk"><strong>Dean Dashwood</strong></a></p>
        <p>University of Northumbria, student w17040449</p>
        <div class="row">
            <p>
                <a target="_blank" href="https://www.reddit.com/u/LondonPilot/">
                    <span class="logo">
                        <img src="~/Content/img/Reddit_logo.png" alt="Reddit logo" style="height:2em; width:auto;" />
                    </span>
                    LondonPilot
                </a>
            </p>
            <p>
                <a target="_blank" href="https://github.com/ddashwood">
                    <span class="logo">
                        <img src="~/Content/img/GitHub-Mark-64px.png" alt="Github logo" style="height:2em; width:auto;" />
                    </span>
                    DDashwood
                </a>
            </p>
        </div>
    </div>
</div>
