@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p><a href="https://www.reddit.com/u/LondonPilot/"><img src="~/Content/img/Reddit_logo.png" alt="Reddit logo" style="height:2em; width:auto;" /> LondonPilot</a></p>
<p><a href="https://github.com/ddashwood"><img src="~/Content/img/GitHub-Mark-64px.png" alt="Github logo" style="height:2em; width:auto;" /> DDashwood</a></p>
