@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coding Trainer</h1>
    <p class="lead">Professional Training in Computer Programming</p>
    <p>@Html.ActionLink("Click here to start »", "Playground", "Exercise", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn to code!</h2>

        <p>
            Writing computer code is hard. That's why you need professional training to learn to code.
            Coding Trainer offers the training that you need.
        </p>
        <ul>
            <li>A well-structured course</li>
            <li>A mixture of text and video instructions that are clear and easy to follow.</li>
            <li>Exercises to complete each step along the way</li>
            <li>The website will provide feedback on each exercise and only allow you to move on once you're ready.</li>
        </ul>
        <p>
            The course starts from absolute basics, and assumes no prior knowledge at all. You will
            learn about conditions, loops and methods, before moving on to build object-oriented programs
            using classes, methods and properties.
        </p>
        <p>
            As well as teaching the syntax of how to write a program, the course will show you how
            to design and structure a program and how to break problems into small steps that can be
            easily solved - vital skills as you progress in your journey to become a computer
            programmer.
        </p>
        <p>
            So why wait? Get started today! Coding Trainer is the trainer you need!
        </p>
    </div>
    <div class="col-md-5">
        <h2>What programming language?</h2>

        <p>
            At Coding Trainer HQ, we believe that it doesn't matter what language you learn to
            program in. So long as you build a solid foundation of programming knowledge, you
            will be able to transfer your skills to any programming language you need in the future
            with ease.
        </p>
        <p>
            Therefore, we don't focus on teaching any particular language in detail on this course.
            Instead, we build a good foundation on which you can build in the future.
        </p>
        <p>
            Of course, we need to use a programming language. The language we've chosen is C#,
            one of the most popular programming languages in use today with a wide range of features
            and with syntax which is simple enough to make it suitable for beginners.
        </p>
        <p>
            But we deliberately hide the details you don't need to see. You won't need to worry about
            namespaces and references, because we take care of that while you learn the fundamentals.
            And you won't see methods or classes until you're ready to learn about those, because
            we want you to be able to focus on the key components of each lesson without getting
            distracted by details that don't affect what you're learning.
        </p>
        <p>
            This means that if you install Visual Studio (the development environment usually used
            for writing C# programs), you won't be able to run the programs you create on Coding Trainer
            in it straight away. But we don't apologise for that. The aim of Coding Trainer is not
            to teach you to program C# - it's to teach you to program. You will find it very easy to
            move to the full version of C# when you're ready, and by building good foundations you will
            be able to learn any other language easily too.
        </p>
    </div>
    <div class="col-md-3">
        <h2>The creator</h2>

        <p>
            I am Dean Dashwood. I'm a professional computer programmer and tutor, who is passionate about great
            training.
        </p>
        <p>
            I studied Software Engineering at the University of Manchester Institute of Science
            and Technology (UMIST), and worked as a software engineer for 8 years, at companies
            such as Enron Europe Ltd and Royal Bank of Scotland plc.
        </p>
        <p>
            Alongside computer programming, I am also a pilot, and I spent 11 years working as
            a flying instructor and examiner, which is where my passion for high quality training
            was developed. When I moved into IT training, I combined this passion with my experience
            in computer programming, with the objective of teaching people with no prior experience
            how to write great software.
        </p>
        <p>
            This website is the culmination of that desire. I hope you find it useful!
        </p>
    </div>
</div>