@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coding Trainer</h1>
    <p class="lead">Training in Computer Programming</p>
    <p>@Html.ActionLink("Click here to start »", "CurrentExercise", "Exercise", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4 pull-right">
        <img src="@Url.Content("~/Content/img/Classroom.jpg")" class="img-circle img-responsive" alt="Thank you" />
    </div>
    <div class="col-md-8">
        <h2>Welcome</h2>
        <p>
            Welcome to the coding trainer!
        </p>
        <p>
            We have asked you to use this website to help us understand how online learning
            can help you. The exercises are designed to offer you feedback when you need it,
            and to help us analyse how that feedback has helped you.
        </p>
        <p>
            Once you have signed up, you can click on the "Click here to start" button to take
            you to the exercises, or you can choose "Playground" from the menu bar to experiment
            with writing some code.
        </p>
    </div>
</div>
