@{
    ViewBag.Title = "Privacy Policy";
}

<h2>Privacy Policy</h2>

<h4>Privacy Policy Notice</h4>

<p>
    <strong>The policy:</strong> This privacy policy notice is served by
    <strong>Coding Trainer by Dean Dashwood</strong> under the website
    <a href="@Url.Action("Index","Home",null, Request.Url.Scheme)">@Url.Action("Index", "Home", null, Request.Url.Scheme)</a>.
    The purpose of this policy is to explain
    to you how we control, process, handle and protect your personal information through the
    business and while you browse or use this website. If you do not agree to the following policy
    you may wish to cease viewing / using this website, and or refrain from submitting your personal
    data to us.
</p>

<p><strong>Policy key definitions:</strong></p>

<ul>
    <li>"I", "our", "us", or "we" refer to the Coding Trainer by Dean Dashwood.</li>
    <li>"you", "the user" refer to the person(s) using this website.</li>
    <li>
        "The website" refers to
        <a href="@Url.Action("Index","Home",null, Request.Url.Scheme)">
            @Url.Action("Index", "Home", null, Request.Url.Scheme)
        </a>
    </li>
    <li>GDPR means General Data Protection Act.</li>
    <li>PECR means Privacy & Electronic Communications Regulation.</li>
    <li>ICO means Information Commissioner's Office.</li>
    <li>Cookies mean small files stored on a users computer or device.</li>
</ul>

<p><strong>Key principles of GDPR:</strong></p>

<p>
    Our privacy policy embodies the following key priciples; (a) Lawfullness, fairness and transpatrency,
    (b) Purpose limitation, (c) Data minimisation, (d) Accurancy, (e) Storage limitation, (f) Integrity
    and confidence, (g) Accountability.
</p>

<h4>Processing of your personal data</h4>

<p>
    Under the GDPR (General Data Protection Regulation) we control and / or process any personal information
    about you electronically using the following lawful bases.
</p>

<p>
    We are exempt from registration in the ICO Data Protection Register because we do not
    make a profit, we only prcess information necessary to establish or maintain membership
    or support and to provide or administer activities for people who are members of the
    website, and the personal information we process is restricted to person information that is
    necessary for this exempt purpose.
</p>

<p>
    <strong>Lawful basis:</strong> Consent<br />
    <strong>Where our purpose for processing is:</strong> To allow you to use the website's facilities<br />
    <strong>We process your information in the following ways.</strong> This list contains examples of the data we
    store and how we process it, and may not be complete:<br />
    <ul>
        <li>We store personal details including your name and your e-mail address in order to identify you.</li>
        <li>We store data that you submit so that you can return to it later</li>
        <li>We process the data that you submit so that you can see it working, and so we can provide you with feedback.</li>
    </ul>
    <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw
    consent or it is determined your consent no longer exists.<br />
    <strong>Sharing your information:</strong> We do not share your information with third parties. We do use third parties
    to store your data, including Microsoft Azure, but we do not grant third parties permission to access or use your data.
</p>

<p>
    If, as determined by us, the lawful basis upon which we process your personal information changes, we will notify you
    about the change and any new lawful basis to be used if required. We shall stop processing your personal information if
    the lawful basis used is no longer relevant.
</p>

<h4>Your Individual Rights</h4>

<p>
    Under the GDPR your rights are as follows. You can read more about your rights in details
    <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/">here</a>;
</p>

<ul>
    <li>the right to be informed;</li>
    <li>the right of access;</li>
    <li>the right to rectification;</li>
    <li>the right to erasure;</li>
    <li>the right to restrict processing;</li>
    <li>the right to data portability;</li>
    <li>the right to object; and</li>
    <li>the right not to be subject to automated decision-making including profiling.</li>
</ul>

<p>
    You also have the right to complain to the <a href="https://www.ico.org.uk">ICO</a> if you feel there is a problem with the way we are
    handling your data.
</p>

<p>We handle subject access requests in accordance with the GDPR.</p>

<h4>Internet Cookies</h4>

<p>
    We use cookies on this website to provide you with a better user experience. We do this by placing a small text file on
    your device / computer hard drive to track how you use the website, to record or log whether you have seen particular
    messages that we display, to keep you logged into the website where applicable.
</p>

<p>
    These cookies are required to enjoy and use the full functionality of this website. There is no provision for opting
    out of these cookies. If you object to the way we use cookies, you should not log in to the website.
</p>

<h4>Data security and protection</h4>

<p>
    We ensure the security of any personal information we hold by using secure data storage technologies and precise procedures
    in how we store, access and manage that information. Our methods meet the GDPR compliance requirement.
</p>