@{
    ViewBag.Title = "Terms and Conditions";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/TsAndCs.css")" />
}


    <div class=WordSection1 style="margin-top:1ex">

        <p class=DocumentName>Terms and conditions of use</p>

        <p class=Level1Heading>1.      Introduction</p>

        <p class=Level2Number>
            1.1    These terms and conditions shall govern your use
            of our website.
        </p>

        <p class=Level2Number>
            1.2    By using our website, you accept these terms and
            conditions in full; accordingly, if you disagree with these terms and
            conditions or any part of these terms and conditions, you must not use our
            website.
        </p>

        <p class=Level2Number>
            1.3    If you register with our website, submit any
            material to our website or use any of our website services, we will ask you to
            expressly agree to these terms and conditions.
        </p>

        <p class=Level2Number>
            1.4    Our website uses cookies; by using our website or
            agreeing to these terms and conditions, you consent to our use of cookies in
            accordance with the terms of our privacy policy.
        </p>

        <p class=Level1Heading>2.      Credit</p>

        <p class=Level2Number>
            2.1    This document was created using a template from
            SEQ Legal (<a href="https://seqlegal.com"><span style='color:blue'>https://seqlegal.com</span></a>).
        </p>

        <p class=Level1Heading>3.      Copyright notice</p>

        <p class=Level2Number>3.1    Copyright (c) 2017-@DateTime.Now.Year Dean Dashwood.</p>

        <p class=Level2Number>
            3.2    Subject to the express provisions of these terms
            and conditions, including section 3.3:
        </p>

        <p class=Level3Number>
            (a)    we, together with our licensors, own and control
            all the copyright and other intellectual property rights in our website and the
            material on our website; and
        </p>

        <p class=Level3Number>
            (b)    all the copyright and other intellectual property
            rights in our website and the material on our website are reserved.
        </p>

        <p class=Level2Number>
            3.3    We may make the software which runs our website available under an open-source
            licence. This licence, if it exists, does not include any of the training material on
            the website
        </p>

        <p class=Level1Heading>4.      Licence to use website</p>

        <p class=Level2Number>4.1    You may:</p>

        <p class=Level3Number>(a)    view pages from our website in a web browser;</p>

        <p class=Level3Number>
            (b)    download pages from our website for caching in a
            web browser;
        </p>

        <p class=Level3Number>(c)    print pages from our website;</p>

        <p class=Level3Number>(d)    stream audio and video files from our website; and</p>

        <p class=Level3Number>(e)    use our website services by means of a web browser,</p>

        <p class=Level3Number>
            subject to the other provisions of these terms
            and conditions.
        </p>

        <p class=Level2Number>
            4.2    Except as expressly permitted by Section 4.1 or
            the other provisions of these terms and conditions, you must not download any
            material from our website or save any such material to your computer.
        </p>

        <p class=Level2Number>
            4.3    You may only use our website for your own personal
            non-commercial purposes, and you must not use our website for any other
            purposes.
        </p>

        <p class=Level2Number>
            4.4    Except as expressly permitted by these terms and
            conditions, you must not edit or otherwise modify any material on our website.
        </p>

        <p class=Level2Number>
            4.5    Unless you own or control the relevant rights in
            the material, you must not:
        </p>

        <p class=Level3Number>
            (a)    republish material from our website (including
            republication on another website);
        </p>

        <p class=Level3Number>
            (b)    sell, rent or sub-license material from our
            website;
        </p>

        <p class=Level3Number>(c)    show any material from our website in public;</p>

        <p class=Level3Number>
            (d)    exploit material from our website for a commercial
            purpose; or
        </p>

        <p class=Level3Number>(e)    redistribute material from our website.</p>

        <p class=Level2Number>
            4.6    We reserve the right to restrict access to areas
            of our website, or indeed our whole website, at our discretion; you must not
            circumvent or bypass, or attempt to circumvent or bypass, any access
            restriction measures on our website.
        </p>

        <p class=Level1Heading>5.      Acceptable use</p>

        <p class=Level2Number>5.1    You must not:</p>

        <p class=Level3Number>
            (a)    use our website in any way or take any action that
            causes, or may cause, damage to the website or impairment of the performance,
            availability or accessibility of the website;
        </p>

        <p class=Level3Number>
            (b)    use our website in any way that is unlawful,
            illegal, fraudulent or harmful, or in connection with any unlawful, illegal,
            fraudulent or harmful purpose or activity;
        </p>

        <p class=Level3Number>
            (c)    use our website to copy, store, host, transmit,
            send, use, publish or distribute any material which consists of (or is linked
            to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit
            or other malicious computer software;
        </p>

        <p class=Level3Number>
            (d)    conduct any systematic or automated data
            collection activities (including without limitation scraping, data mining, data
            extraction and data harvesting) on or in relation to our website without our
            express written consent;
        </p>

        <p class=Level3Number>
            (e)    access or otherwise interact with our website
            using any robot, spider or other automated means;
        </p>

        <p class=Level2Number>
            5.2    You must not use data collected from our website
            to contact individuals, companies or other persons or entities.
        </p>

        <p class=Level2Number>
            5.3    You must ensure that all the information you
            supply to us through our website, or in relation to our website, is true, accurate,
            current, complete and non-misleading.
        </p>

        <p class=Level1Heading>6.      Registration and accounts</p>

        <p class=Level2Number>
            6.1    You may register for an account with our website
            by completing and submitting the account registration form on our website, and
            clicking on the verification link in the email that the website will send to
            you.
        </p>

        <p class=Level2Number>
            6.2    You must not allow any other person to use your
            account to access the website.
        </p>

        <p class=Level2Number>
            6.3    You must notify us in writing immediately if you
            become aware of any unauthorised use of your account.
        </p>

        <p class=Level2Number>
            6.4    You must not use any other person's account to
            access the website.
        </p>

        <p class=Level1Heading>7.      User login details</p>

        <p class=Level2Number>
            7.1    If you register for an account with our website, you
            will be asked to provide an e-mail address which will be used as your user ID,
            and to choose a password.
        </p>

        <p class=Level2Number>
            7.2    Your user ID must not be liable to mislead and
            must comply with the content rules set out in Section 10; you must not use your
            account or user ID for or in connection with the impersonation of any person.
        </p>

        <p class=Level2Number>7.3    You must keep your password confidential.</p>

        <p class=Level2Number>
            7.4    You must notify us in writing immediately if you
            become aware of any disclosure of your password.
        </p>

        <p class=Level2Number>
            7.5    You are responsible for any activity on our
            website arising out of any failure to keep your password confidential, and may
            be held liable for any losses arising out of such a failure.
        </p>

        <p class=Level1Heading>8.      Cancellation and suspension of account</p>

        <p class=Level2Number>8.1    We may:</p>

        <p class=Level3Number>(a)    suspend your account;</p>

        <p class=Level3Number>(b)    cancel your account; and/or</p>

        <p class=Level3Number>(c)    edit your account details,</p>

        <p class=Level3Number>
            at any time in our sole discretion without notice
            or explanation.
        </p>

        <p class=Level2Number>
            8.2    You may cancel your account on our website using
            your account control panel on the website.
        </p>

        <p class=Level1Heading>9.      Your content: licence</p>

        <p class=Level2Number>
            9.1    In these terms and conditions, &quot;your
            content&quot; means all works and materials (including without limitation text,
            graphics, images, audio material, video material, audio-visual material,
            scripts, software and files) that you submit to us or our website for storage
            or publication on, processing by, or transmission via, our website.
        </p>

        <p class=Level2Number>
            9.2    You grant to us a worldwide, irrevocable,
            non-exclusive, royalty-free licence to use, reproduce, store, adapt, publish,
            translate and distribute your content on and in relation to this website and
            any successor website.
        </p>

        <p class=Level2Number>
            9.3    You grant to us the right to sub-license the
            rights licensed under Section 9.2.
        </p>

        <p class=Level2Number>
            9.4    You grant to us the right to bring an action for
            infringement of the rights licensed under Section 9.2.
        </p>

        <p class=Level2Number>
            9.5    You hereby waive all your moral rights in your
            content to the maximum extent permitted by applicable law; and you warrant and
            represent that all other moral rights in your content have been waived to the
            maximum extent permitted by applicable law.
        </p>

        <p class=Level2Number>
            9.6    You may edit your content to the extent permitted
            using the editing functionality made available on our website.
        </p>

        <p class=Level2Number>
            9.7    Without prejudice to our other rights under these
            terms and conditions, if you breach any provision of these terms and conditions
            in any way, or if we reasonably suspect that you have breached these terms and
            conditions in any way, we may delete, unpublish or edit any or all of your
            content.
        </p>

        <p class=Level1Heading>10.    Your content: rules</p>

        <p class=Level2Number>
            10.1  You warrant and represent that your content will
            comply with these terms and conditions.
        </p>

        <p class=Level2Number>
            10.2  Your content must not be illegal or unlawful, must
            not infringe any person's legal rights, and must not be capable of giving rise
            to legal action against any person (in each case in any jurisdiction and under
            any applicable law).
        </p>

        <p class=Level2Number>
            10.3  Your content, and the use of your content by us in
            accordance with these terms and conditions, must not:
        </p>

        <p class=Level3Number>(a)    be libellous or maliciously false;</p>

        <p class=Level3Number>(b)    be obscene or indecent;</p>

        <p class=Level3Number>
            (c)    infringe any copyright, moral right, database
            right, trade mark right, design right, right in passing off, or other
            intellectual property right;
        </p>

        <p class=Level3Number>
            (d)    infringe any right of confidence, right of privacy
            or right under data protection legislation;
        </p>

        <p class=Level3Number>
            (e)    constitute negligent advice or contain any
            negligent statement;
        </p>

        <p class=Level3Number>
            (f)    constitute an incitement to commit a crime,
            instructions for the commission of a crime or the promotion of criminal
            activity;
        </p>

        <p class=Level3Number>
            (g)    be in contempt of any court, or in breach of any
            court order;
        </p>

        <p class=Level3Number>
            (h)    be in breach of racial or religious hatred or
            discrimination legislation;
        </p>

        <p class=Level3Number>(i)     be blasphemous;</p>

        <p class=Level3Number>(j)    be in breach of official secrets legislation;</p>

        <p class=Level3Number>
            (k)    be in breach of any contractual obligation owed to
            any person;
        </p>

        <p class=Level3Number>(l)     depict violence;</p>

        <p class=Level3Number>
            (m)   be pornographic, lewd, suggestive or sexually
            explicit;
        </p>

        <p class=Level3Number>(n)    be untrue, false, inaccurate or misleading;</p>

        <p class=Level3Number>
            (o)    consist of or contain any instructions, advice or
            other information which may be acted upon and could, if acted upon, cause
            illness, injury or death, or any other loss or damage;
        </p>

        <p class=Level3Number>(p)    constitute spam;</p>

        <p class=Level3Number>
            (q)    be offensive, deceptive, fraudulent, threatening,
            abusive, harassing, anti-social, menacing, hateful, discriminatory or
            inflammatory; or
        </p>

        <p class=Level3Number>
            (r)    cause annoyance, inconvenience or needless anxiety
            to any person.
        </p>

        <p class=Level1Heading>11.    Limited warranties</p>

        <p class=Level2Number>11.1  We do not warrant or represent:</p>

        <p class=Level3Number>
            (a)    the completeness or accuracy of the information
            published on our website;
        </p>

        <p class=Level3Number>(b)    that the material on the website is up to date; or</p>

        <p class=Level3Number>
            (c)    that the website or any service on the website
            will remain available.
        </p>

        <p class=Level2Number>
            11.2  We reserve the right to discontinue or alter any or
            all of our website services, and to stop publishing our website, at any time in
            our sole discretion without notice or explanation; and save to the extent
            expressly provided otherwise in these terms and conditions, you will not be
            entitled to any compensation or other payment upon the discontinuance or
            alteration of any website services, or if we stop publishing the website.
        </p>

        <p class=Level2Number>
            11.3  To the maximum extent permitted by applicable law
            and subject to Section 12.1, we exclude all representations and warranties
            relating to the subject matter of these terms and conditions, our website and
            the use of our website.
        </p>

        <p class=Level1Heading>12.    Limitations and exclusions of liability</p>

        <p class=Level2Number>12.1  Nothing in these terms and conditions will:</p>

        <p class=Level3Number>
            (a)    limit or exclude any liability for death or
            personal injury resulting from negligence;
        </p>

        <p class=Level3Number>
            (b)    limit or exclude any liability for fraud or
            fraudulent misrepresentation;
        </p>

        <p class=Level3Number>
            (c)    limit any liabilities in any way that is not
            permitted under applicable law; or
        </p>

        <p class=Level3Number>
            (d)    exclude any liabilities that may not be excluded
            under applicable law.
        </p>

        <p class=Level2Number>
            12.2  The limitations and exclusions of liability set out
            in this Section 12 and elsewhere in these terms and conditions:
        </p>

        <p class=Level3Number>(a)    are subject to Section 12.1; and</p>

        <p class=Level3Number>
            (b)    govern all liabilities arising under these terms
            and conditions or relating to the subject matter of these terms and conditions,
            including liabilities arising in contract, in tort (including negligence) and
            for breach of statutory duty, except to the extent expressly provided otherwise
            in these terms and conditions.
        </p>

        <p class=Level2Number>
            12.3  To the extent that our website and the information
            and services on our website are provided free of charge, we will not be liable
            for any loss or damage of any nature.
        </p>

        <p class=Level2Number>
            12.4  We will not be liable to you in respect of any
            losses arising out of any event or events beyond our reasonable control.
        </p>

        <p class=Level2Number>
            12.5  We will not be liable to you in respect of any
            business losses, including (without limitation) loss of or damage to profits,
            income, revenue, use, production, anticipated savings, business, contracts,
            commercial opportunities or goodwill.
        </p>

        <p class=Level2Number>
            12.6  We will not be liable to you in respect of any loss
            or corruption of any data, database or software.
        </p>

        <p class=Level2Number>
            12.7  We will not be liable to you in respect of any
            special, indirect or consequential loss or damage.
        </p>

        <p class=Level2Number>
            12.8  You accept that we have an interest in limiting the
            personal liability of our officers and employees and, having regard to that
            interest, you acknowledge that we are a limited liability entity; you agree
            that you will not bring any claim personally against our officers or employees
            in respect of any losses you suffer in connection with the website or these
            terms and conditions (this will not, of course, limit or exclude the liability
            of the limited liability entity itself for the acts and omissions of our
            officers and employees).
        </p>

        <p class=Level1Heading>13.    Breaches of these terms and conditions</p>

        <p class=Level2Number>
            13.1  Without prejudice to our other rights under these
            terms and conditions, if you breach these terms and conditions in any way, or
            if we reasonably suspect that you have breached these terms and conditions in
            any way, we may:
        </p>

        <p class=Level3Number>(a)    send you one or more formal warnings;</p>

        <p class=Level3Number>(b)    temporarily suspend your access to our website;</p>

        <p class=Level3Number>
            (c)    permanently prohibit you from accessing our
            website;
        </p>

        <p class=Level3Number>
            (d)    block computers using your IP address from
            accessing our website;
        </p>

        <p class=Level3Number>
            (e)    contact any or all of your internet service
            providers and request that they block your access to our website;
        </p>

        <p class=Level3Number>
            (f)    commence legal action against you, whether for
            breach of contract or otherwise; and/or
        </p>

        <p class=Level3Number>(g)    suspend or delete your account on our website.</p>

        <p class=Level2Number>
            13.2  Where we suspend or prohibit or block your access
            to our website or a part of our website, you must not take any action to
            circumvent such suspension or prohibition or blocking (including without
            limitation creating and/or using a different account).
        </p>

        <p class=Level1Heading>14.    Variation</p>

        <p class=Level2Number>
            14.1  We may revise these terms and conditions from time
            to time.
        </p>

        <p class=Level2Number>
            14.2  The revised terms and conditions shall apply to the
            use of our website from the date of publication of the revised terms and
            conditions on the website, and you hereby waive any right you may otherwise
            have to be notified of, or to consent to, revisions of these terms and
            conditions.
        </p>

        <p class=Level2Number>
            14.3  If you have given your express agreement to these
            terms and conditions, we will ask for your express agreement to any revision of
            these terms and conditions; and if you do not give your express agreement to
            the revised terms and conditions within such period as we may specify, we will
            disable or delete your account on the website, and you must stop using the website.
        </p>

        <p class=Level1Heading>15.    Assignment</p>

        <p class=Level2Number>
            15.1  You hereby agree that we may assign, transfer,
            sub-contract or otherwise deal with our rights and/or obligations under these
            terms and conditions.
        </p>

        <p class=Level2Number>
            15.2  You may not without our prior written consent
            assign, transfer, sub-contract or otherwise deal with any of your rights and/or
            obligations under these terms and conditions.
        </p>

        <p class=Level1Heading>16.    Severability</p>

        <p class=Level2Number>
            16.1  If a provision of these terms and conditions is
            determined by any court or other competent authority to be unlawful and/or
            unenforceable, the other provisions will continue in effect.
        </p>

        <p class=Level2Number>
            16.2  If any unlawful and/or unenforceable provision of
            these terms and conditions would be lawful or enforceable if part of it were
            deleted, that part will be deemed to be deleted, and the rest of the provision
            will continue in effect.
        </p>

        <p class=Level1Heading>17.    Third party rights</p>

        <p class=Level2Number>
            17.1  A contract under these terms and conditions is for
            our benefit and your benefit, and is not intended to benefit or be enforceable
            by any third party.
        </p>

        <p class=Level2Number>
            17.2  The exercise of the parties' rights under a contract
            under these terms and conditions is not subject to the consent of any third
            party.
        </p>

        <p class=Level1Heading>18.    Entire agreement</p>

        <p class=Level2Number>
            18.1  Subject to Section 12.1, these terms and conditions,
            together with our privacy policy, shall constitute the entire agreement between
            you and us in relation to your use of our website and shall supersede all
            previous agreements between you and us in relation to your use of our website.
        </p>

        <p class=Level1Heading>19.    Law and jurisdiction</p>

        <p class=Level2Number>
            19.1  These terms and conditions shall be governed by and
            construed in accordance with English law.
        </p>

        <p class=Level2Number>
            19.2  Any disputes relating to these terms and conditions
            shall be subject to the exclusive jurisdiction of the courts of England.
        </p>

        <p class=Level1Heading>20.    Our details</p>

        <p class=Level2Number>20.1  This website is owned and operated by Dean Dashwood.</p>

        <p class=Level2Number>20.2  You can contact us:</p>

        <p class=Level3Number>
            (a)    by email, using the email address published on our
            website from time to time.
        </p>

    </div>