.body-content textarea {
    max-width:none;
    font-family:Consolas, Courier New, Courier, monospace
}

.body-content textarea:disabled {
    cursor: default;
}

.CodeMirror {
    border: solid 1px;
}