.CodeMirror {
    border: solid 1px;
}

.line-link {
    cursor: pointer;
}

/* Override the width from the default buttons.css */
.CodeMirror-buttonsPanel button {
    min-width:3em;
    width:unset;
}