.logo {
    display: inline-block;
    width: 3em;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media (max-width:768px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

/* Ensure checkboxes show on mobile */

@media (max-width:788px) { /* Checkboxes start disappearing at just bigger than extra-small */
    div.form-group input[type='checkbox'] {
        margin-left: 0px;
    }
}

/* Add spacing */
.top-buffer {
    margin-top: 12px;
}

.bottom-buffer {
    margin-bottom: 12px;
}

/* Allow link items in lists to be disabled */

.sidebar-offcanvas ul.nav a.disabled:hover {
    background-color: transparent;
}

/* Off Canvas Sidebar */
@media (max-width:992px) {
    .row-offcanvas-left, .sidebar-offcanvas {
        position: relative;
        -webkit-transition: left 0.5s ease-out;
        -moz-transition: left 0.5s ease-out;
        transition: left 0.5s ease-out;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%;
    }

    .row-offcanvas-left.active
    .sidebar-offcanvas {
        visibility: visible;
        left: -38%;
    }

    .row-offcanvas-left.active {
        left: 38%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 12px;
        margin-right: 30px;
    }
}

/* On very small screens, prevent the sidebar from
    getting so small that words spill out of it
*/
@media (max-width:550px) {
    .row-offcanvas-left.active {
        left: 194px;
    }

    .row-offcanvas-left.active
    .sidebar-offcanvas {
        left: -194px;
    }

    .sidebar-offcanvas {
        width: 171px;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -240px;
    }
}
