<img style="float:right" src="@Url.Content("~/Content/Course/1-1/Classroom.jpg")" class="img-rounded img-responsive" alt="Classroom" />
<p>
    Welcome to Coding Trainer
</p>

<p>
    <strong>This project is under development.</strong>
</p>

<p>
    At the moment, it contains only one exercise, and this exercise is suitable for people who have
    already undertaken a training course in C#. It is not yet suitable for complete beginners.
</p>

<p>
    Please do feel free to try this exercise! But before you start the exercise, there is a short
    introduction to how to use the website and the code editor built into the website.
</p>

<p>
    Please click the Next Page button to begin.
</p>
