<img style="float:right" src="@Url.Content("~/Content/Course/1-1/Classroom.jpg")" class="img-rounded img-responsive" alt="Classroom" />
<p>
    Thank you for agreeing to take part in this experiment!
</p>

<p>
    <strong>My name is Dean, and I'm a tutor at QA.</strong>
</p>

<p>
    I am currently working on the dissertation for my Masters degree, and this project forms the basis of my
    dissertation. The objective of my dissertation is to find out, when you complete programming
    exercises on-line, whether it's possible for the website to give you automatic feedback which actually
    helps you complete the exercise
</p>

<p>
    As such, when you signed up to this website, you were automatically placed into a random category which
    determines the amount of feedback you will receive when you submit work which is not complete.
</p>

<p>
    The task is designed to be quick to complete, and the difficulty has been chosen so that some people will
    complete it easily, and others will need a little prompting along the way. You may (or may not!) get the
    prompts that you need from the website!
</p>

<p>
    At the end of the experiment, I will examine how each learner has progressed in response to any feedback they
    received.
</p>

<p>
    Please click the Next Page button to learn how to use the code editor that is built into this website.
</p>
