@{
    ViewBag.Title = "Chapter List";
}
@section Scripts {
    <script src="~/Scripts/app/ChapterList.js"></script>
}

<h2>Chapter List</h2>

<div id="chapter-list" class="col-md-8 list-group"><em>Loading chapter list - please wait</em></div>

<div class="col-md-4">
    <h3>Please browse the chapter list</h3>
    <p>Chapters for everyone!</p>
</div>