
@{
    ViewBag.Title = "Access Denied";
}
@section scripts {
    <script src="~/Scripts/app/sidebar.js"></script>
}

@Html.Action("ExerciseSidebar")

<h2>Access Denied</h2>

<p>You do not have access to that exercise. Please choose an earlier exercise from the chapter list.</p>
