@model IEnumerable<CodingTrainer.CodingTrainerModels.Chapter>
@using CodingTrainer.CodingTrainerModels.Security

<div class="col-md-3">
    <div class="sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav">
                @foreach (var chapter in Model)
                {
                    <li><strong>Chapter @chapter.ChapterNo</strong> - @chapter.ChapterName</li>
                    foreach (var exercise in chapter.Exercises)
                    {
                        if (exercise.Permitted(ViewBag.User))
                        {
                            <li>@Html.ActionLink(exercise.ExerciseName, "Exercise", "Exercise", new { chapter = chapter.ChapterNo, exercise = exercise.ExerciseNo }, null)</li>
                        }
                        else
                        {
                            <li><a class="disabled">@exercise.ExerciseName</a></li>
                        }
                    }
                }

            </ul>
        </div>
    </div>
</div>

<div class="top-buffer">
    <button type="button" class="visible-sm visible-xs top-buffer" data-toggle="offcanvas">
        &#9776;
    </button>
</div>
