@model IEnumerable<CodingTrainer.CodingTrainerModels.Chapter>

<div class="col-md-3">
    <div class="sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="sidebar-nav">
            <nav class="navbar navbar-default navbar-fixed-side">
                <ul class="nav">
                    <li><h4>Chapter List</h4></li>

                    @foreach (var chapter in Model)
                    {
                        <li><strong>Chapter @chapter.ChapterNo</strong> - @chapter.ChapterName</li>
                        foreach (var exercise in chapter.Exercises)
                        {
                            if (exercise.Permitted(ViewBag.User))
                            {
                                <li>@Html.ActionLink(exercise.ExerciseName, "Exercise", "Exercise", new { chapter = chapter.ChapterNo, exercise = exercise.ExerciseNo }, null)</li>
                            }
                            else
                            {
                                <li><a class="disabled">@exercise.ExerciseName</a></li>
                            }
                        }
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="top-buffer">
    <button type="button" class="visible-sm visible-xs top-buffer" data-toggle="offcanvas">
        &#9776;
    </button>
</div>