
@{
    ViewBag.Title = "Playground";
}

<h2>Playground</h2>

<div class="col-md-4 col-sm-12 col-md-push-8">
    <h1>Testing!</h1>
</div>
<div class="col-md-8 col-sm-12 col-md-pull-4">
    @Html.Action("RunCode", new { chapter = 1, exercise = 1 })
</div>
