@{
    ViewBag.Title = "Playground";
}

@section scripts {
    <script src="~/Scripts/app/sidebar.js"></script>
}

@Html.Action("ExerciseSidebar")

<h2>Playground</h2>

<div class="col-md-9 col-sm-12">
    @Html.Action("RunCodeById", new { chapter = -1, exercise = -1 })
</div>