@model CodingTrainer.CodingTrainerWeb.ViewModels.ExerciseViewModel

@{
    ViewBag.Title = "Run Code";
}
@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/codemirror/lib/codemirror.js"></script>
    <script src="~/Scripts/codemirror/mode/clike/clike.js"></script>
    <script src="~/Scripts/codemirror/addon/edit/closebrackets.js"></script>
    <script src="~/Scripts/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="~/Scripts/codemirror/addon/lint/lint.js"></script>
    <script src="~/Scripts/app/Editor.js"></script>
    <script src="~/Scripts/app/RunCode.js"></script>
}
@section Styles {
    <link href="~/Content/RunCode.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/codemirror/addon/lint/lint.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/codemirror/theme/elegant.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <h2>Run Code</h2>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @Html.TextArea("code", Model.DefaultCode, new { style = "display:none" })
    </div>
    <div class="col-md-6 col-sm-12">
        @Html.TextArea("console-out", new { @class = "form-control", rows = 30, spellcheck = false, disabled = true })
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <button id="run" disabled>Connecting</button>
    </div>
    <div class="col-md-6 col-sm-12">
        <input type="text" id="console-in" /> <button id="console">Send to console</button>
    </div>
</div>
