<img style="float:right;" src="@Url.Content("~/Content/Course/3-1/Thanks.jpg")" class="img-circle img-responsive" alt="Thank you" />

<p style="position:relative; top:3em;">
    You have now completed the exercise. Please send any feedback to  <a href="mailto:dean.dashwood@yahoo.co.uk">Dean Dashwood</a>.
</p>
