<img style="float:right;" src="@Url.Content("~/Content/Course/3-1/Thanks.jpg")" class="img-circle img-responsive" alt="Thank you" />

<p style="position:relative; top:3em;">
    You have now completed the exercise. Thanks for taking the time to do that, it will be enormously
    helpful to my studies!
</p>
